body {
	color: #FFFFFF;
	background-image: url(/img/crossword.png);
}

#pad {
	width: 640px;
	height: 640px;
	margin-left: auto;
	margin-right: auto;
	background-color: #000000;
	padding: 16px;
	border-radius: 50%;
}

.userInput {
	width: 302px;
	height: 302px;
	margin: 8px;
	opacity: .5;
}

.blue {
	background-color: #0000FF;
	border-radius: 0 302px 0 0;
}

.red {
	background-color: #FF0000;
	border-radius: 302px 0 0 0;
}

.green {
	background-color: #008000;
	border-radius: 0 0 0 302px;
}

.yellow {
	background-color: #FFFF00;
	border-radius: 0 0 302px 0;
}

#info {
	border: 1px solid black;
	width: 200px;
	height: 115px;
	float: left;
	position: absolute;
	top: 16px;
	border-radius: 5%;
	padding: 16px;
	background-color: #FFFFFF;
	-webkit-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
}

#start {
	height: 32px;
	width: 64px;
	font-size: 16px;
	position: absolute;
	top: 105px;
	left: 150px;
	border-radius: 15%;
	background-color: #337AB7;
	color: white;
}

#level, #record {
	color: black;
	position: relative;
	bottom: 20px;
	font-size: 35px;
}

button:active, button:focus {
	outline: none;
}