body {
	text-align: center;
	margin: auto;
}

main{
	width: 30%;
	margin: auto;
	margin-bottom: 20px;
}

#yellow, #blue {
	right: 4px;
	position: relative;
}

#red {
	background-color: red;
	border-radius: 200px 0 0 0;
}

#yellow {
	background-color: yellow;
	border-radius: 0 200px 0 0;
}

#orange {
	background-color: orange;
	border-radius: 0 0 0 200px;
}

#blue {
	background-color: blue;
	border-radius: 0 0 200px 0;
}

.color-btn {
	width: 200px;
	height: 200px;
	opacity: 0.5;
	border: 1px solid black;
}

.color-btn:focus,.color-btn:active {
   outline: none;
}

.active {
	opacity: 1;
}